<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="col-md-2 options">
				<a class="btn btn-app" [routerLink]="['/entrada']">
					<i class="icon-app-car-in"></i> Entrada
					<span>F1</span>
				</a>
				<a class="btn btn-app" [routerLink]="['/saida']">
					<i class="icon-app-car-out"></i> Saída
					<span>F2</span>
				</a>
				<a class="btn btn-app" [routerLink]="['/pesquisar']">
					<i class="icon-app-car-search"></i> Pesquisar
					<span>F3</span>
				</a>
				<a class="btn btn-app" [routerLink]="['/relatorio']">
					<i class="icon-app-report"></i> Relatório
					<span>F4</span>
				</a>
				<a class="btn btn-app"[routerLink]="['/lava-jato']">
					<i class="icon-app-car-wash"></i> Lava-jato
					<span>F5</span>
				</a>
				<a class="btn btn-app"[routerLink]="['/manutencao']">
					<i class="icon-app-settings"></i> Manutenção
					<span>F6</span>
				</a>
			</div>
			<div class="col-md-10 content-options">
				<router-outlet></router-outlet>
			</div>
		</div>
	</section>
</div>

